<div class="cover">
    <a href="{{ .RelPermalink }}">
        {{ range first 1 (.Resources.ByType "image") }}
        <!-- {{/* $cover := .Fill "500x500" | images.Filter (images.Grayscale) */}} -->
        {{ $cover := .Fill site.Params.smallCover }}
        {{ with $cover }}
        <div class="cover-image"><img src="{{ .Permalink }}" alt="{{ .Title }}" /></div>
        {{ end }}
        {{ else }}
        <div class="cover-image-default">
            <img src="/images/default-cover.jpeg" alt="{{ .Title }}" />
        </div>
        {{ end }}
    </a>
    {{ $ic := len (.Resources.ByType "image") }}
    <div class="cover-title">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <span class="img-count"> [{{ $ic }}]</span>
    </div>
</div>