<div id="100vh" class="home-cover">
    {{ $f := site.Params.mpPrimary }}
    {{ $b := where site.RegularPages "Section" $f }}
    {{ range first 1 $b }}

    <div class="latest">
        <!--{{/* with .GetMatch "{cover.*,*.jpg,*.png,*.jpeg}" */}}-->
        {{ with .Resources.GetMatch "cover.*" }}
        <!-- {{/* $cover := .Fill "900x500" | images.Filter (images.Brightness 10) */}} -->
        {{ $cover := .Fill site.Params.bigCover }}
        {{ with $cover }}
        <div class="post-cover"><img src="{{ .Permalink }}" alt="{{ .Title }}" /></div>
        {{ end }}
        {{ end }}
        <div id="hh1" class="container">
            <p class="latest-txt">latest:</p>
            <div class="post-title">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </div>
        </div>
    </div>
    {{ end }}

    <div id="hh2" class="post-nxt">
        {{ range first 3 (after 1 $b) }}
        <div class="post-nxt-item">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </div>
        {{ end }}
    </div>

    <div class="center blog-more">
        <a href="/{{ $f }}/">read more...</a>
    </div>

</div>
