{{ define "header" }}
<nav class="site-nav nav-default">
    <ul>
        {{ range .Site.Menus.home }}
        <li><a href="{{ .URL | absURL | safeURL }}">{{ .Name }}</a></li>
        {{ end }}
    </ul>
</nav>
{{ end }}


{{ define "primary" }}
    {{ partial "vs100.html" . }}
    <div class="center single-title">
        <h2>{{ .Title }}</h2>
    </div>
    {{ with .Content }}
    {{ partial "vs100.html" . }}
    <div class="single-primary">
        <div class="container">
            <div class="entry bigpad">
                {{ . }}
            </div>
        </div>
    </div>
    {{ end }}
{{ end }}

{{ define "secondary" }}
<section class="single-secondary">
    {{ partial "vs50.html" . }}
    <div class="container bigpad">
        <div class="insp-list">
            {{ range .Resources.ByType "image" }}
            <div class="insp-src-image">
                <a href="{{ .RelPermalink }}">
                    {{ $i := .Fill site.Params.smallCover }}
                    {{ with $i }}
                    <img src="{{ .Permalink }}" alt="{{ .Title }}" />
                    <p class="image-title">{{ .Title }}</p>
                    {{ end }}
                </a>
            </div>
            {{ end }}
        </div>
    </div>

    
</section>
{{ partial "nav-post.html" . }}
{{ end }}
